<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sistema Médico</title>
  <link rel="stylesheet" href="/recursos/cadastro.css">
</head>

<body>
  <div class="wrapper">

    <section class="header">
      <h1>Editar informações do Paciente</h1>
    </section>
    <% prontuarios.forEach(function(details) { %>
    <main>
      <form action="/edit/<%= details._id %>" method="POST">
        <div class="input-group">
          <label for="nome">Nome</label>
          <input type="text" id='nome' name='nome' tab-index='1' />
        </div>
        <div class="input-group">
          <label for="sobrenome">Sobrenome</label>
          <input type="text" id='sobrenome' name='sobrenome' tab-index='2' />
        </div>
        <div class="input-group">
          <label for="rg">RG</label>
          <input type="text" id='rg' name='rg' tab-index='3' />
        </div>

        <div class="input-group">
          <label for="cpf">CPF</label>
          <input type="text" id='cpf' name='cpf' tab-index='4' />
        </div>
        <div class="input-group">
          <label for="endereco">Endereço</label>
          <input type="text" id='endereco' name='endereco' tab-index='5' />
        </div>

            <input type="submit" value="Enviar" tab-index='6' />
       
      </form>
    </main>
    <% }) %>

  </div>

</body>

</html>